:root {
    --bleu_fonce:#C0CFE4;
    --blanc:white;
    --bleu_ecriture:#0c2658;
  }
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Georgia', serif;
    color: var(--blanc);
    background-image: url(../assets/images/fond_accueil.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--bleu_ecriture);
    color: #222;
  }
  
  .logo-social {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .logo {
    width: 40%;
  }
  
  .social-icons img {
    width: 25px;
    margin-right: 8px;
    cursor: pointer;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #003366;
    padding: 8px 14px;
    background-color: #e0e0e0;
    border-radius: 20px;
    font-size: 14px;
  }
  
  .hero {
    background-image: url('background-rennes.jpg'); /* à remplacer par ton image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 50px;
  }
  
  .hero-content {
    max-width: 600px;
  }
  
  .dates {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .hero h1 {
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 30px;
    font-weight: 600;
  }
  
  .announcement h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .announcement p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  
  .fond_accueil {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  
  .footer {
    margin-left: 50%;
  }

  .Carte {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 45px;
  }

  .links {
     color: var(--bleu_ecriture);
    background-image: url('background-rennes.jpg'); /* à remplacer par ton image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 50px;
    max-width: 60%;
    font-family: 'Georgia', serif;
    text-decoration: none;
    padding: 8px 14px;
    font-size: 45px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20%;
  }
  
  